@media (min-width: 1025px) {
    /* constants classes */

    main .content_tools .editor_img_mobile{
        display: none;

    }
    main .content_tools .editor_img_desktop{
        display: block;
    }

    /* Desktop header section */
    header .mobile_nav{
        display: none;
    }
    header{
        background: linear-gradient(to right, hsla(13, 100%, 72%, 0.918),hsla(353, 100%, 62%, 0.945) ), url("images/bg-pattern-intro-desktop.svg");
        padding-bottom: 6%;
        border-bottom-left-radius: 80px;
        background-size: 150%;
        background-position: 15% 55%; 
    }
    header h1{
        width: auto;
        margin-top: 7%;
        font-size: 3.5em;
        
    }
    h1+p{
        width: 40ch;
        font-size: 1.2em;
        margin-top: 1%;
    }
    header .header_btn{
        margin-top: 3%;
        gap: 14px;
    }
    header .header_btn button{
        padding: 1% 2%;
    }
    header .desktop_nav{
        display: flex;
        align-items: center;
        padding: 3%;
        width: 90%;
        padding-left: 7%;

    }
    header .desktop_nav ul{
        display: flex;
        gap: 30px;
        list-style: none;
    }
    header .desktop_nav ul li a{
        font-size: 1em;
        font-weight: 600;
        color: hsla(0, 0%, 100%, 0.692);
        cursor: pointer;
    }
    header .desktop_nav .nav_login_btns{
        display: flex;
        align-content: center;
        justify-content: center;
        margin-left: auto;
        gap: 5px;
        width: 35%;
        
    }
    header .desktop_nav .nav_login_btns button{
        width: 31%;
        padding: 3.5% 0;
        border-radius: 30px;
        font-size: 0.9em;
        font-weight: 600;
        border: none;
        cursor: pointer;
        background: transparent;
        color: hsla(0, 0%, 100%, 0.692);
    }
    header .desktop_nav .nav_login_btns .signup_btn{
        background-color:white ;
        color: hsla(353, 100%, 62%, 0.925);
        
    }
    header .desktop_nav .nav_login_btns .signup_btn:hover{
        background-color: hsl(355, 86%, 79%);
        color: white;
    }

    /* Desktop content_tools section */
    main .content_tools{
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 5% 0;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 7%;
        text-align: left;
        background-image: url('images/illustration-editor-desktop.svg');
        background-repeat: no-repeat;
        background-position: 144% bottom;
        background-size: 61%;
    }
    main .content_tools h2{
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 6%;
        font-size: 2em;
        padding-right: 5%;
        
    }
    main .content_tools .editor_img_desktop{
        width: 40%;
    }   
    main .content_tools .describe_tools{
        width: 91%;
        margin: 0;

        
        
    }

    main .content_tools .describe_tools h3{
        font-size: 1.7em;
        width: 27ch;
    }
    main .content_tools .describe_tools p{
        color:hsl(207, 13%, 34%);
        font-size: 1em;
        line-height: 1.7;
        padding-bottom: 3%;
        font-weight: 500;
        width: 48ch;
        margin: 0;
    }


    /* Desktop state_art section */
    main .state_art {
        background-color: hsl(237, 23%, 31%);
        background-repeat: no-repeat;
        background-position: -15% 94%;
        background-size: 62%;
        border-radius: 0 80px 0 80px;
        text-align: center;
        padding-top: 0%;
        padding-bottom: 0%;
        position: relative;
        margin-top: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3%;
        max-height: 304px;
        padding: 1% 0;
        margin-top: 8%;
    }
    main .state_art img{
        width: 36%;
        display: block;
        position: relative;
        padding: 0;
        margin: 0;
        left: 0;
        top: 3%;



        

    }
    main .state_art .describe_art_state{
        width: auto;
        text-align: left;
    }
    main .state_art .describe_art_state p{
        width: 49ch;
        
    }

    
    /* product_overview */
    main .product_overview .laptop_img_mobile{
        display: none;

    }
    main .product_overview .laptop_img_desktop{
        display: block;
        position: absolute;
        left: -20%;
        min-width: 852px;
        max-width: 873px;
        width: 99%;
    }

    main .product_overview {
        flex-direction: row;
        position: relative;
        gap: 0;
        justify-content: end;
    }





    main .product_overview .describe_product{
        width: fit-content;
        text-align: left;
        width: 45%;
        padding-right: 5%;

    }
    main .product_overview .describe_product h2 {
        text-align: left;

        font-size: 1.7em;
    }
    main .product_overview .describe_product p {

        font-size: 1em;
        line-height: 1.7;
        margin: 0;
    }


    /* footer */
    
    footer{
        flex-direction: row;
        justify-content: space-evenly;
        justify-items: center;
        align-items: first baseline;
        padding-top: 4%;
        padding-bottom: 2%;
        
    }
    footer .links {
        text-align: left;
        align-items: baseline;
    }

    footer img {
        padding: 0%;
    }
    footer .links ul {
        text-align: left;
        gap:18px;
    }

        
}