body{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    

}
/* constants classes */
header .desktop_nav{
    display: none;
}
main .content_tools .editor_img_desktop{
    display: none;

}
/* header section */
header {


    width: 100%;
    
    background-color: hsl(356, 100%, 66%);
    
    background: linear-gradient(to bottom, hsla(13, 100%, 72%, 0.705), hsla(353, 100%, 62%, 0.925)), url("images/bg-pattern-intro-mobile.svg");
    
    background-position: 40% 40%; 
    background-size: 400%; 
    border-bottom-left-radius: 100px;
    text-align: center;
    padding-bottom: 40%;
    



}



h1{
    
    margin: auto;
    margin-top: 20%;
    color: white;
    font-size: 2em;
    font-weight:700;

}
h1+p{
    width: 23ch;
    margin: auto;
    margin-top: 7%;
    color: hsla(0, 0%, 100%, 0.664);
    font-size: 1.3em;
    font-weight:0;
    margin-top: 3%;
}
header .mobile_nav{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

    
    padding: 20px;
    padding-top: 15%;
    gap: 60%;


    
    
}
header .mobile_nav button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}
header .mobile_nav #mobile_menu_button img{
    width: 100%;

}

header .mobile_nav #mobile_menu_button #close_image{
    display: none;
}

header .mobile_nav .logo{
    width: 23%;

}
header .header_btn{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 20px;
    

}
header .header_btn button{
    padding: 4% 5%;
    border-radius: 30px;
    font-size: 1em;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

header .header_btn .started_btn{
    color: hsla(353, 100%, 62%, 0.925);
}
header .header_btn .started_btn:hover{
    background-color: hsl(355, 86%, 79%);
    color: white;
}
header .header_btn .learn_btn{
    background: transparent;
    border: 2px solid white;
    color: white;
}
header .header_btn .learn_btn:hover{
    background-color: white;
    color: hsla(353, 100%, 62%, 0.925);
}




/* popup  */
#menu_mobile {
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 2% 7%;
    padding-bottom: 6%;
    
    border-radius: 12px;
    overflow: hidden;
    margin-top: 10%;
    position: absolute;
    top: 12%;
    box-shadow: #838383 0px 20px 20px 0px;

}

#menu_mobile #menu_buttons , #menu_mobile #popup_mobile ul  {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 31px;
    

}
#menu_mobile #popup_mobile   {
    background-color:#eee;
    margin-bottom: 9%;
    margin-top: 5%;
    width: 100%;
    padding: 2%;
    border-radius: 5px;
    visibility: hidden;

}


#menu_mobile ul li a {
    color: hsl(207, 13%, 34%);
    text-decoration: none;
    font-size: 1rem;
}

#menu_mobile #menu_buttons #contact_mobile_btn img{
    transition: transform 0.3s ease;
}


/* buttons in popup */

#menu_mobile   button{
    border: none;
    background-color: inherit;
    cursor: pointer;
    color: hsl(208, 49%, 24%);
    font-size: medium;




}
#menu_mobile .log_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-bottom: 0;
    align-items: center;
    
    
}
#menu_mobile .log_info button{
    padding: 13px 34px;
    border-radius: 30px;
    width: 72%;    
}
#menu_mobile  .log_info #sign_up {
    background: linear-gradient(to right, hsla(13, 100%, 72%, 0.918),hsla(353, 100%, 62%, 0.945));
    color: white;

    
}







/* content_tools section */

main .content_tools{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    

}

main .content_tools h2,h3{
    color:hsl(237, 23%, 31%) ;
    font-weight: 800;
}
main .content_tools h2  {
    text-align: center;
    font-size: 1.8em;
    padding: 11% 0;
}

main .content_tools img{
    width: 100%;
}
main .content_tools .describe_tools{
    margin-top: 10%;
    width: 80%;

}
main .content_tools .describe_tools h3{
    font-size: 2em;
    
    
}
main .content_tools .describe_tools p{
    color:hsl(207, 13%, 34%);
    font-size: 1.1em;
    margin-top: 5%;
    line-height: 1.6;
    padding-bottom: 3%;
    font-weight: 500;
}


/* state_art section */
main .state_art{
    background-color: hsl(237, 23%, 31%);
    background-image: url('images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: center -273%;
    background-size: 134%;
    border-radius: 0 80px 0 80px;
    text-align: center;
    padding-top: 49%;
    padding-bottom: 24%;
    position: relative;
    margin-top: 65%;
    

}
main .state_art img{
    width: 97%;
    display: block;
    margin: auto;
    position: absolute;
    top: -34%;
    

}
main .state_art h2 {
    text-align: center;
    font-size: 2.6em;
    color: white;
    width: 100%;


    margin-bottom: 4%;
    
}
main .state_art p {
    width: 29ch;
    color: hsla(0, 0%, 100%, 0.664);
    font-size: 1.1em;
    margin: auto;

    line-height: 1.6;

}



/* product_overview */
main .product_overview  .laptop_img_desktop{
    display: none;

}


main .product_overview{
    margin-top: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    overflow: hidden;

}

main .product_overview .describe_product{
    width: 90%;
    text-align: center;
}

main .product_overview .describe_product h2{
    color:hsl(237, 23%, 31%) ;
    font-weight: 800;
    text-align: center;
    font-size: 2em;
    padding-top: 6%;
    padding-bottom: 1%;
}
main .product_overview .describe_product p{
    color: hsl(207, 13%, 34%);
    font-size: 1.1em;
    
    line-height: 1.6;
    padding-bottom: 3%;
    font-weight: 500;
    width: 95%;
    margin: auto;
}

/* footer */
footer{
    background-color:hsl(240, 10%, 16%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 100px;
    margin-top: 15%;
    padding: 11% 0;
    
}
footer  h3 {
    color: white;

}
footer img{
    display: block;
    padding-top: 7%;
    padding-bottom: 11%;
}

footer .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
footer .links ul {
    list-style: none;
    text-align: center;
    padding: 0%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .links ul li a{
    color: hsla(0, 0%, 100%, 0.664);
    text-decoration: none;
    

}
footer .links ul li a:hover{
    text-decoration: underline white;
}