@media (min-width: 768px) and (max-width: 1024px) {

    /* buttons */
    header .header_btn button{
        padding: 2.6% 4%;
        font-size: x-large;
        border-radius: 60px;
    }
    main .content_tools .editor_img_desktop{
        display: none;

    }
    header .mobile_nav{
        width: 100%;
        justify-content: space-around;
        gap: 38%;
        padding: 0px;
        padding-top: 8%;
    }
    header{
        padding-bottom: 15%;
        background: linear-gradient(to bottom, hsla(13, 100%, 72%, 0.705), hsla(353, 100%, 62%, 0.925)), url('images/bg-pattern-intro-mobile.svg');
        background-size: 175%;
        background-position: 14% 38%;
    }


    /* edit width for icons and logo */
    header .mobile_nav .nav_icon{
        width: 6%;
    }
    header .mobile_nav .logo{
        width: 16%;
    }
    /* --------------------------------------------- */


    /* edit popup width */
    #menu_mobile{
        width: 50%;
        top: 6%;
    }
    h1{
        font-size: 4.7ch;
        width: 100%;
        margin-top: 23%;

    }
    h1+p{
        width: 100%;
        font-size: 2.3ch;
    }

    /* content_tools section */
    main .content_tools .describe_tools{
        width: 99%;
        max-width: 738px;
    }
    main .content_tools h2{
        font-size: 2.6em;
    }
    main .content_tools img {
        width: 91%;
        max-width: 791px;
    }
    main .content_tools .describe_tools h3 {
        font-size: 2.5em;
    }
    main .content_tools .describe_tools p{
        font-size: 1.6em;
    }

    /* state_art section */
    main .state_art{
        background-position: center 225%;
        background-size: 131%;
    }
    main .state_art img{
        width: 92%;
        max-width: 866px;
        left: 4%;
        margin-right: -23%;
    }
    main .state_art h2{
        font-size: 3.3em;
        margin-top: 10%;
    }
    main .state_art p{
        font-size: 1.5em;
        width: 84%;
    }



    /* product_overview */
    main .product_overview img {
        width: 100%;
    }
    main .product_overview .describe_product h2{
        font-size: 2.8em;
        padding-bottom: 3%;
        margin-bottom: 0%;
    }
    main .product_overview .describe_product p{
        font-size: 1.3em;
        width:75%;
    }

    /* footer */
    footer {
        flex-direction: row;
        justify-content: space-evenly;
        justify-items: center;
        align-items: first baseline;
        padding-top: 8%;
        padding-bottom: 6%;
        
    }
    footer img {
        display: block;
        padding: 0;
        width: 17%;
    }
    footer .links {
        text-align: left;
        align-items: baseline;
    
    }
    footer .links ul {
        text-align: left;
        gap:18px;
    }
}